<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Alarms</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let alarm of alarms; index as i">
        <ion-card-header>
            <ion-card-title>
                {{alarm.name}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <p align-self-start>Time: {{alarm.hour}}:{{alarm.min}}</p>

                    </ion-col>
                    <ion-col>
                        <p align-self-center> Days: [{{alarm.days.join(',')}}] </p>
                    </ion-col>
                    <ion-col>
                        <ion-toggle align-self-end color="success" checked="{{alarm.on}}" (click)="changeAlarm(i)"></ion-toggle>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>


    <ion-list *ngIf="alarms">
        <ion-item *ngFor="let alarm of alarms">
            <ion-label>
                {{alarm.name}} {{alarm.hour}} : {{alarm.min}}; Days: {{alarm.days.join(' ,')}}
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-card *ngIf="error">
        <ion-card-header>
            <ion-card-title color="danger">There was a error</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{error.valueOf()}}
        </ion-card-content>
    </ion-card>
</ion-content>
