<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Alarms
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newAlarm()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let alarm of alarms; index as i">
        <ion-card-header (click)="showDetail(alarm)">
            <ion-card-title>
                {{alarm.name}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col (click)="showDetail(alarm)">
                        <p ion-align-self-start>Time: {{alarm.hour}}:{{alarm.min}}</p>
                    </ion-col>
                    <ion-col (click)="showDetail(alarm)">
                        <p ion-align-self-center> Days: [{{alarm.days.join(',')}}] </p>
                    </ion-col>
                    <ion-col>
                        <ion-toggle ion-align-self-end *ngIf="alarm.on" (ionChange)="switchAlarm(alarm)" checked
                                    color="success">
                        </ion-toggle>
                        <ion-toggle ion-align-self-end (ionChange)="switchAlarm(alarm)" *ngIf="!alarm.on"
                                    color="success">
                        </ion-toggle>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="showDelete(i)" color="danger">
                            <ion-icon name="trash" slot="icon-only"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
